<div class="container">
<p></p>
<form name="getter" action="/cool_url" method="get">
  Write some stuff:
  <textarea cols="40" rows="5" name="user_input"></textarea><br><br>
  <input type="radio" name="group1" value="Yay">Yay<br>
  <input type="radio" name="group1" value="Nay">Nay<br>
  <p></p>
  <input type="submit" value="Get">
</form>
<p></p>
<form name="poster" action="/cool_url" method="post">
  <input type="text" name="post[title]">
  <input type="text" name="get[price]">
  <textarea name="get[description]"></textarea>
  <input type="submit" value="Post">
</form>

</div>
